In [2]:
import mysql.connector
# Establish the connection
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="1234qwert",
    database="saubhagya12"
)
cursor = conn.cursor()
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)
cursor.close()
conn.close()

('customers',)

CUSTOMERS DATA CONNECTION AND ANALYTICS

Reading data of Customers

In [ ]:
import pandas as pd
data1 = pd.read_csv("customers.csv")
print(data1.head())

   CustomerID      CustomerName                         Email  Gender  Age  \
0           1     Emma Anderson     emma.anderson@example.com    Male   50
1           2       Sarah Brown       sarah.brown@example.com  Female   37
2           3  Robert Hernandez  robert.hernandez@example.com  Female   26
3           4      David Garcia      david.garcia@example.com    Male   25
4           5       Emma Miller       emma.miller@example.com  Female   41

   GeographyID
0            2
1            4
2            6
3            8
4            4

Data Shape

In [20]:
print(data1.shape) # number of rows and columns.

(100, 6)

Data Types

In [4]:
print(data1.dtypes) # Data Types

CustomerID       int64
CustomerName    object
Email           object
Gender          object
Age              int64
GeographyID      int64
dtype: object

Count missing values per column

In [5]:
print(data1.isnull().sum())  # Count missing values per column

CustomerID      0
CustomerName    0
Email           0
Gender          0
Age             0
GeographyID     0
dtype: int64

Duplicates

In [ ]:
print(data1.duplicated().sum())

0

In [13]:
data1.drop_duplicates(inplace=True)

Descriptive Statistics
Summary of numerical columns

In [ ]:
print(data1.describe())

       CustomerID         Age  GeographyID
count  100.000000  100.000000   100.000000
mean    50.500000   41.990000     5.320000
std     29.011492   14.259142     2.810083
min      1.000000   18.000000     1.000000
25%     25.750000   31.000000     3.000000
50%     50.500000   41.000000     5.000000
75%     75.250000   53.000000     8.000000
max    100.000000   69.000000    10.000000

Summary of categorical columns

In [8]:
print(data1.describe(include=["object"]))

         CustomerName                      Email  Gender
count             100                        100     100
unique            100                        100       2
top     Emma Anderson  emma.anderson@example.com  Female
freq                1                          1      54

Connected the engagement_data2.csv file with table in MYSQL Workbench i.e
create table customers(
CustomerID int auto_increment primary key,
customerName text,
Email text,
Gender text,
Age int,
GeographyID int
);

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  
PASSWORD = "1234qwert"  
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
df = pd.read_csv("customers.csv")

# Insert the CSV data into MySQL
data1.to_sql("customers", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!

Reading data of products

In [25]:
import pandas as pd

data2 = pd.read_csv("products.csv")
print(df.head())  # Display first 5 rows

   CustomerID      CustomerName                         Email  Gender  Age  \
0           1     Emma Anderson     emma.anderson@example.com    Male   50
1           2       Sarah Brown       sarah.brown@example.com  Female   37
2           3  Robert Hernandez  robert.hernandez@example.com  Female   26
3           4      David Garcia      david.garcia@example.com    Male   25
4           5       Emma Miller       emma.miller@example.com  Female   41

   GeographyID
0            2
1            4
2            6
3            8
4            4

Data Shape

In [28]:
print(data2.shape)  # (num_rows, num_columns)

(20, 4)

Data Types

In [29]:
print(data2.dtypes)

ProductID        int64
ProductName     object
Category        object
Price          float64
dtype: object

Count missing values per column

In [31]:
print(data2.isnull().sum())  # Count missing values per column

ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64

Duplicates

In [32]:
print(data2.duplicated().sum())  # Count duplicate rows

0

Descriptive Statistics

In [33]:
print(data2.describe())  # Summary of numerical columns

       ProductID       Price
count   20.00000   20.000000
mean    10.50000  205.405500
std      5.91608  149.461816
min      1.00000   26.210000
25%      5.75000   44.262500
50%     10.50000  210.215000
75%     15.25000  288.412500
max     20.00000  485.320000

In [34]:
print(data2.describe(include=["object"]))  # Summary of categorical columns

          ProductName Category
count              20       20
unique             20        1
top     Running Shoes   Sports
freq                1       20

Connected the products.csv file with table in MYSQL Workbench i.e
create table products (
ProductID int ,
ProductName text,
Category text,
Price int
);

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  
PASSWORD = "1234qwert"  
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
df = pd.read_csv("products.csv")

# Insert the CSV data into MySQL
df.to_sql("products", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!

Separating the views and clicks from the column ViewsClicksCombined.

In [ ]:
import pandas as pd

# Read CSV file 
data3 = pd.read_csv("engagement_data.csv")

# Split the "ViewsClicksCombined" column into two new columns: "Views" and "Clicks"
data3[['Views', 'Clicks']] = data3['ViewsClicksCombined'].str.split('-', expand=True)

# Convert the new columns to integers (if needed)
data3['Views'] = data3['Views'].astype(int)
data3['Clicks'] = data3['Clicks'].astype(int)

# Drop the original "ViewsClicksCombined" column if not needed
data3.drop(columns=['ViewsClicksCombined'], inplace=True)

# Display the updated DataFrame
print(data3.head())

   EngagementID  ContentID ContentType  Likes EngagementDate  CampaignID  \
0             1         39        Blog    190     2023-08-30           1
1             2         48        Blog    114     2023-03-28          18
2             3         16       video     32     2023-12-08           7
3             4         43       Video     17     2025-01-21          19
4             5         16  newsletter    306     2024-02-21           6

   ProductID  Views  Clicks
0          9   1883     671
1         20   5280     532
2         14   1905     204
3         20   2766     257
4         15   5116    1524

Saving the changes in the new file i.e engagement_data2.csv

In [100]:
import pandas as pd

# Read CSV file
data3 = pd.read_csv("engagement_data.csv")

# Split the "ViewsClicksCombined" column into "Views" and "Clicks"
data3[['Views', 'Clicks']] = data3['ViewsClicksCombined'].str.split('-', expand=True)

# Convert the new columns to integers
data3['Views'] = data3['Views'].astype(int)
data3['Clicks'] = data3['Clicks'].astype(int)

# Drop the original column
data3.drop(columns=['ViewsClicksCombined'], inplace=True)

# Save the modified DataFrame into a new file
data3.to_csv("engagement_data2.csv", index=False)

print("File saved as 'engagement_data2.csv'")

File saved as 'engagement_data2.csv'

Reading data of engagement_data2

In [40]:
import pandas as pd

data3 = pd.read_csv("engagement_data2.csv")
print(data3.head())  # Display first 5 rows

   EngagementID  ContentID ContentType  Likes EngagementDate  CampaignID  \
0             1         39        Blog    190     2023-08-30           1
1             2         48        Blog    114     2023-03-28          18
2             3         16       video     32     2023-12-08           7
3             4         43       Video     17     2025-01-21          19
4             5         16  newsletter    306     2024-02-21           6

   ProductID  Views  Clicks
0          9   1883     671
1         20   5280     532
2         14   1905     204
3         20   2766     257
4         15   5116    1524

Data Shape

In [41]:
print(data3.shape)  # (num_rows, num_columns)

(100, 9)

Data Types

In [42]:
print(data3.dtypes)

EngagementID       int64
ContentID          int64
ContentType       object
Likes              int64
EngagementDate    object
CampaignID         int64
ProductID          int64
Views              int64
Clicks             int64
dtype: object

Count missing values per column

In [43]:
print(data3.isnull().sum())  # Count missing values per column

EngagementID      0
ContentID         0
ContentType       0
Likes             0
EngagementDate    0
CampaignID        0
ProductID         0
Views             0
Clicks            0
dtype: int64

Duplicates

In [44]:
print(data3.duplicated().sum())  # Count duplicate rows

0

Descriptive Statistics

In [45]:
print(data3.describe())  # Summary of numerical columns

       EngagementID   ContentID       Likes  CampaignID  ProductID  \
count    100.000000  100.000000  100.000000  100.000000  100.00000
mean      50.500000   27.040000  104.460000   10.920000   10.88000
std       29.011492   14.298351  175.409617    6.154049    5.92594
min        1.000000    1.000000    0.000000    1.000000    1.00000
25%       25.750000   15.750000    2.750000    6.000000    6.00000
50%       50.500000   29.500000   14.500000   11.500000   11.00000
75%       75.250000   37.250000  119.500000   17.000000   16.00000
max      100.000000   50.000000  840.000000   20.000000   20.00000

             Views       Clicks
count   100.000000   100.000000
mean   2270.450000   469.510000
std    2159.334313   684.038505
min      36.000000     1.000000
25%     594.500000    44.000000
50%    1507.000000   141.500000
75%    3253.250000   549.500000
max    9759.000000  3095.000000

In [46]:
print(data3.describe(include=["object"]))  # Summary of categorical columns

       ContentType EngagementDate
count          100            100
unique          12             96
top          Video     2024-05-26
freq            18              2

Connected the engagement_data2.csv file with table in MYSQL Workbench i.e
create table engagement_data2 (
EngagementID int Primary key,
ContentID int,
ContentType text,
Likes int,
EngagementDate datetime, 
CampaignID int,
ProductID int,
Views int,
Clicks int
);

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  
PASSWORD = "1234qwert"  
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
df = pd.read_csv("engagement_data2.csv")

# Insert the CSV data into MySQL
df.to_sql("engagement_data2", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!

Reading data of geography

In [50]:
import pandas as pd

data4 = pd.read_csv("geography.csv")
print(data4.head())  # Display first 5 rows

   GeographyID  Country    City
0            1       UK  London
1            2  Germany  Berlin
2            3   France   Paris
3            4    Spain  Madrid
4            5    Italy    Rome

Data Shape

In [51]:
print(data4.shape)  # (num_rows, num_columns)

(10, 3)

Data Types

In [52]:
print(data4.dtypes)

GeographyID     int64
Country        object
City           object
dtype: object

Count missing values per column

In [53]:
print(data4.isnull().sum())  # Count missing values per column

GeographyID    0
Country        0
City           0
dtype: int64

Duplicates

In [54]:
print(data4.duplicated().sum())  # Count duplicate rows

0

Descriptive Statistics

In [55]:
print(data4.describe())  # Summary of numerical columns

       GeographyID
count     10.00000
mean       5.50000
std        3.02765
min        1.00000
25%        3.25000
50%        5.50000
75%        7.75000
max       10.00000

In [56]:
print(data4.describe(include=["object"]))  # Summary of categorical columns

       Country    City
count       10      10
unique      10      10
top         UK  London
freq         1       1

Connected the geography.csv file with table in MYSQL Workbench i.e
create table geography (
GeographyID int primary key,
Country text,
City text
);

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  
PASSWORD = "1234qwert" 
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
data4 = pd.read_csv("geography.csv")

# Insert the CSV data into MySQL
data4.to_sql("geography", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!

Reading data of customer_journey

In [59]:
import pandas as pd

data5 = pd.read_csv("customer_journey.csv")
print(data5.head())  # Display first 5 rows

   JourneyID  CustomerID  ProductID   VisitDate        Stage    Action  \
0          1          64         18  2024-06-10     Checkout  Drop-off
1          2          94         11  2025-07-09     Checkout  Drop-off
2          3          34          8  2024-06-14  ProductPage      View
3          4          33         18  2025-05-28     Checkout  Drop-off
4          5          91         10  2023-02-11     Homepage     Click

   Duration
0       NaN
1       NaN
2     235.0
3       NaN
4     156.0

Data Shape

In [60]:
print(data5.shape)  # (num_rows, num_columns)

(100, 7)

Data Types

In [61]:
print(data5.dtypes)

JourneyID       int64
CustomerID      int64
ProductID       int64
VisitDate      object
Stage          object
Action         object
Duration      float64
dtype: object

Count missing values per column

In [64]:
print(data5.isnull().sum())  # Count missing values per column

JourneyID     0
CustomerID    0
ProductID     0
VisitDate     0
Stage         0
Action        0
Duration      0
dtype: int64

Replaced missing values with 0

In [63]:
data5.fillna(0, inplace=True)

Duplicates

In [65]:
print(data5.duplicated().sum())  # Count duplicate rows
data5.drop_duplicates(inplace=True)

0

Descriptive Statistics

In [66]:
print(data5.describe())  # Summary of numerical columns

        JourneyID  CustomerID   ProductID    Duration
count  100.000000  100.000000  100.000000  100.000000
mean    50.500000   51.090000   11.000000  143.220000
std     29.011492   29.383255    6.095204   97.476087
min      1.000000    1.000000    1.000000    0.000000
25%     25.750000   24.750000    6.000000   47.500000
50%     50.500000   52.000000   11.000000  157.000000
75%     75.250000   77.250000   16.250000  234.250000
max    100.000000   99.000000   20.000000  298.000000

In [67]:
print(data5.describe(include=["object"]))  # Summary of categorical columns

         VisitDate     Stage Action
count          100       100    100
unique          97         6      4
top     2023-08-22  Homepage   View
freq             2        50     58

Connection with database in MYSQL Workbench

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  
PASSWORD = "1234qwert"  
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
data5 = pd.read_csv("customer_journey.csv")

# Insert the CSV data into MySQL
data5.to_sql("customer_journey", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!

Reading data of customer_reviews

In [69]:
import pandas as pd

data6 = pd.read_csv("customer_reviews.csv")
print(data6.head())  # Display first 5 rows

   ReviewID  CustomerID  ProductID  ReviewDate  Rating  \
0         1          77         18  2023-12-23       3
1         2          80         19  2024-12-25       5
2         3          50         13  2025-01-26       4
3         4          78         15  2025-04-21       3
4         5          64          2  2023-07-16       3

                                 ReviewText
0   Average  experience,  nothing  special.
1            The  quality  is    top-notch.
2   Five  stars  for  the  quick  delivery.
3  Good  quality,  but  could  be  cheaper.
4   Average  experience,  nothing  special.

Data Shape

In [70]:
print(data6.shape)  # (num_rows, num_columns)

(100, 6)

Data Types

In [71]:
print(data6.dtypes)

ReviewID       int64
CustomerID     int64
ProductID      int64
ReviewDate    object
Rating         int64
ReviewText    object
dtype: object

Count missing values per column

In [72]:
print(data6.isnull().sum())  # Count missing values per column

ReviewID      0
CustomerID    0
ProductID     0
ReviewDate    0
Rating        0
ReviewText    0
dtype: int64

Duplicates

In [73]:
print(data6.duplicated().sum())  # Count duplicate rows

0

Descriptive Statistics

In [74]:
print(data6.describe())  # Summary of numerical columns

         ReviewID  CustomerID   ProductID      Rating
count  100.000000  100.000000  100.000000  100.000000
mean    50.500000   53.850000   10.450000    3.730000
std     29.011492   29.685345    5.815992    0.983243
min      1.000000    2.000000    1.000000    1.000000
25%     25.750000   29.000000    5.000000    3.000000
50%     50.500000   55.500000   11.000000    4.000000
75%     75.250000   78.000000   16.000000    4.000000
max    100.000000  100.000000   20.000000    5.000000

In [75]:
print(data6.describe(include=["object"]))  # Summary of categorical columns

        ReviewDate                               ReviewText
count          100                                      100
unique          96                                       38
top     2023-07-17  Five  stars  for  the  quick  delivery.
freq             2                                       15

Connected the customer_reviews.csv file with table in MYSQL Workbench i.e
create table customer_reviews (
ReviewID int primary key,
CustomerID int,
ProductID int,
ReviewDate datetime,
Rating int,
ReviewText text
);

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  
PASSWORD = "1234qwert"  
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
data6 = pd.read_csv("customer_reviews.csv")

# Insert the CSV data into MySQL
data6.to_sql("customer_reviews", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!

SENTIMENT ANALYSIS OF customer_reviews

In [ ]:
import pandas as pd
# Load customer reviews data
df = pd.read_csv("customer_reviews.csv") 
# Define simple positive and negative words
positive_words = ["good", "great", "excellent", "amazing", "love", "best", "happy", "positive", "satisfied"]
negative_words = ["bad", "poor", "worst", "terrible", "awful", "hate", "negative", "unsatisfied"]
# Function to assign sentiment based on keyword matching
def simple_sentiment(text):
    text = str(text).lower()  # Convert to lowercase
    if any(word in text for word in positive_words):
        return "Positive"
    elif any(word in text for word in negative_words):
        return "Negative"
    else:
        return "Neutral"
df['Sentiment_Label'] = df['ReviewText'].apply(simple_sentiment)
print(df['Sentiment_Label'].value_counts())
print(df[['ReviewText', 'Sentiment_Label']].head())

Sentiment_Label
Neutral     69
Positive    30
Negative     1
Name: count, dtype: int64
                                 ReviewText Sentiment_Label
0   Average  experience,  nothing  special.         Neutral
1            The  quality  is    top-notch.         Neutral
2   Five  stars  for  the  quick  delivery.         Neutral
3  Good  quality,  but  could  be  cheaper.        Positive
4   Average  experience,  nothing  special.         Neutral

stored the sentimental analysis data into new csv file

In [ ]:
import pandas as pd
# Load customer reviews data
df = pd.read_csv("customer_reviews.csv") 
positive_words = ["good", "great", "excellent", "amazing", "love", "best", "happy", "positive", "satisfied"]
negative_words = ["bad", "poor", "worst", "terrible", "awful", "hate", "negative", "unsatisfied"]
def simple_sentiment(text):
    text = str(text).lower()
    if any(word in text for word in positive_words):
        return "Positive"
    elif any(word in text for word in negative_words):
        return "Negative"
    else:
        return "Neutral"
df['Sentiment_Label'] = df['ReviewText'].apply(simple_sentiment)
# Save results to a new CSV file
df.to_csv("sentiment_analysis.csv", index=False)
print("Sentiment analysis completed! Results saved to 'sentiment_analysis.csv'.")

Sentiment analysis completed! Results saved to 'sentiment_analysis.csv'.

Reading data of Customers

In [97]:
import pandas as pd
df = pd.read_csv("sentiment_analysis.csv")
print(df.head())  # Display first 5 rows

   ReviewID  CustomerID  ProductID  ReviewDate  Rating  \
0         1          77         18  2023-12-23       3
1         2          80         19  2024-12-25       5
2         3          50         13  2025-01-26       4
3         4          78         15  2025-04-21       3
4         5          64          2  2023-07-16       3

                                 ReviewText Sentiment_Label
0   Average  experience,  nothing  special.         Neutral
1            The  quality  is    top-notch.         Neutral
2   Five  stars  for  the  quick  delivery.         Neutral
3  Good  quality,  but  could  be  cheaper.        Positive
4   Average  experience,  nothing  special.         Neutral

Data Shape

In [98]:
print(df.shape)  # (num_rows, num_columns)

(100, 7)

Data Types

In [ ]:
print(df.dtypes)

ReviewID            int64
CustomerID          int64
ProductID           int64
ReviewDate         object
Rating              int64
ReviewText         object
Sentiment_Label    object
dtype: object

Count missing values per column

In [84]:
print(df.isnull().sum())  # Count missing values per column

ReviewID           0
CustomerID         0
ProductID          0
ReviewDate         0
Rating             0
ReviewText         0
Sentiment_Label    0
dtype: int64

Duplicates

In [85]:
print(df.duplicated().sum())  # Count duplicate rows

0

Descriptive Statistics

In [86]:
print(df.describe())  # Summary of numerical columns

         ReviewID  CustomerID   ProductID      Rating
count  100.000000  100.000000  100.000000  100.000000
mean    50.500000   53.850000   10.450000    3.730000
std     29.011492   29.685345    5.815992    0.983243
min      1.000000    2.000000    1.000000    1.000000
25%     25.750000   29.000000    5.000000    3.000000
50%     50.500000   55.500000   11.000000    4.000000
75%     75.250000   78.000000   16.000000    4.000000
max    100.000000  100.000000   20.000000    5.000000

In [87]:
print(df.describe(include=["object"]))  # Summary of categorical columns

        ReviewDate                               ReviewText Sentiment_Label
count          100                                      100             100
unique          96                                       38               3
top     2023-07-17  Five  stars  for  the  quick  delivery.         Neutral
freq             2                                       15              69

Connected the sentiment_analysis.csv file with table in MYSQL Workbench i.e
CREATE TABLE sentiment_analysis (
    ReviewID INT PRIMARY KEY,
    CustomerID INT,
    ProductID INT,
    ReviewDate DATETIME,
    Rating INT,
    ReviewText TEXT,
    Sentiment_Label TEXT
);

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  
PASSWORD = "1234qwert" 
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
df = pd.read_csv("sentiment_analysis.csv")

# Insert the CSV data into MySQL
df.to_sql("sentiment_analysis", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!