In [2]:
import mysql.connector
# Establish the connection
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="1234qwert",
    database="saubhagya12"
)
cursor = conn.cursor()
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)
cursor.close()
conn.close()

('customers',)

In [7]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  # Replace with your MySQL username
PASSWORD = "1234qwert"  # Replace with your MySQL password
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
df = pd.read_csv("customers.csv")

# Insert the CSV data into MySQL
df.to_sql("customers", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!

In [32]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  # Replace with your MySQL username
PASSWORD = "1234qwert"  # Replace with your MySQL password
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
df = pd.read_csv("products.csv")

# Insert the CSV data into MySQL
df.to_sql("products", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!

In [20]:
import pandas as pd

In [21]:
data = pd.read_csv("engagement_data.csv")

In [22]:
data.shape

(100, 8)

In [23]:
data.dtypes

EngagementID            int64
ContentID               int64
ContentType            object
Likes                   int64
EngagementDate         object
CampaignID              int64
ProductID               int64
ViewsClicksCombined    object
dtype: object

In [24]:
data.isnull

<bound method DataFrame.isnull of     EngagementID  ContentID ContentType  Likes EngagementDate  CampaignID  \
0              1         39        Blog    190     2023-08-30           1
1              2         48        Blog    114     2023-03-28          18
2              3         16       video     32     2023-12-08           7
3              4         43       Video     17     2025-01-21          19
4              5         16  newsletter    306     2024-02-21           6
..           ...        ...         ...    ...            ...         ...
95            96         17        Blog     32     2024-07-15          14
96            97         34        blog      3     2025-07-01          16
97            98         44        blog      0     2025-08-20          11
98            99         26        Blog    119     2024-04-15          17
99           100         32       Video     34     2024-05-05          15

    ProductID ViewsClicksCombined
0           9            1883-671
1          20            5280-532
2          14            1905-204
3          20            2766-257
4          15           5116-1524
..        ...                 ...
95         13             712-142
96          7              696-47
97          8              231-10
98          4            3511-479
99         13            2657-175

[100 rows x 8 columns]>

In [26]:
data.isnull().sum()

EngagementID           0
ContentID              0
ContentType            0
Likes                  0
EngagementDate         0
CampaignID             0
ProductID              0
ViewsClicksCombined    0
dtype: int64

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EngagementID         100 non-null    int64
 1   ContentID            100 non-null    int64
 2   ContentType          100 non-null    object
 3   Likes                100 non-null    int64
 4   EngagementDate       100 non-null    object
 5   CampaignID           100 non-null    int64
 6   ProductID            100 non-null    int64
 7   ViewsClicksCombined  100 non-null    object
dtypes: int64(5), object(3)
memory usage: 6.4+ KB

In [28]:
data.dropna()

,EngagementID,ContentID,ContentType,Likes,EngagementDate,CampaignID,ProductID,ViewsClicksCombined
0,1,39,Blog,190,2023-08-30,1,9,1883-671
1,2,48,Blog,114,2023-03-28,18,20,5280-532
2,3,16,video,32,2023-12-08,7,14,1905-204
3,4,43,Video,17,2025-01-21,19,20,2766-257
4,5,16,newsletter,306,2024-02-21,6,15,5116-1524
...,...,...,...,...,...,...,...,...
95,96,17,Blog,32,2024-07-15,14,13,712-142
96,97,34,blog,3,2025-07-01,16,7,696-47
97,98,44,blog,0,2025-08-20,11,8,231-10
98,99,26,Blog,119,2024-04-15,17,4,3511-479
99,100,32,Video,34,2024-05-05,15,13,2657-175

In [29]:
data.duplicated().sum()

np.int64(0)

In [31]:
data.drop_duplicates()

,EngagementID,ContentID,ContentType,Likes,EngagementDate,CampaignID,ProductID,ViewsClicksCombined
0,1,39,Blog,190,2023-08-30,1,9,1883-671
1,2,48,Blog,114,2023-03-28,18,20,5280-532
2,3,16,video,32,2023-12-08,7,14,1905-204
3,4,43,Video,17,2025-01-21,19,20,2766-257
4,5,16,newsletter,306,2024-02-21,6,15,5116-1524
...,...,...,...,...,...,...,...,...
95,96,17,Blog,32,2024-07-15,14,13,712-142
96,97,34,blog,3,2025-07-01,16,7,696-47
97,98,44,blog,0,2025-08-20,11,8,231-10
98,99,26,Blog,119,2024-04-15,17,4,3511-479
99,100,32,Video,34,2024-05-05,15,13,2657-175

In [33]:
import pandas as pd

# Read CSV file (assuming it's stored as 'data.csv')
df = pd.read_csv("engagement_data.csv")

# Split the "ViewsClicksCombined" column into two new columns: "Views" and "Clicks"
df[['Views', 'Clicks']] = df['ViewsClicksCombined'].str.split('-', expand=True)

# Convert the new columns to integers (if needed)
df['Views'] = df['Views'].astype(int)
df['Clicks'] = df['Clicks'].astype(int)

# Drop the original "ViewsClicksCombined" column if not needed
df.drop(columns=['ViewsClicksCombined'], inplace=True)

# Display the updated DataFrame
print(df.head())

   EngagementID  ContentID ContentType  Likes EngagementDate  CampaignID  \
0             1         39        Blog    190     2023-08-30           1
1             2         48        Blog    114     2023-03-28          18
2             3         16       video     32     2023-12-08           7
3             4         43       Video     17     2025-01-21          19
4             5         16  newsletter    306     2024-02-21           6

   ProductID  Views  Clicks
0          9   1883     671
1         20   5280     532
2         14   1905     204
3         20   2766     257
4         15   5116    1524

In [35]:
import pandas as pd

# Read CSV file
df = pd.read_csv("engagement_data.csv")

# Split the "ViewsClicksCombined" column into "Views" and "Clicks"
df[['Views', 'Clicks']] = df['ViewsClicksCombined'].str.split('-', expand=True)

# Convert the new columns to integers
df['Views'] = df['Views'].astype(int)
df['Clicks'] = df['Clicks'].astype(int)

# Drop the original column
df.drop(columns=['ViewsClicksCombined'], inplace=True)

# Save the modified DataFrame into a new file
df.to_csv("updated_data.csv", index=False)

print("File saved as 'updated_data.csv'")

File saved as 'updated_data.csv'

In [36]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  # Replace with your MySQL username
PASSWORD = "1234qwert"  # Replace with your MySQL password
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
df = pd.read_csv("engagement_data2.csv")

# Insert the CSV data into MySQL
df.to_sql("engagement_data2", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!

In [37]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  # Replace with your MySQL username
PASSWORD = "1234qwert"  # Replace with your MySQL password
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
df = pd.read_csv("geography.csv")

# Insert the CSV data into MySQL
df.to_sql("geography", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!

In [39]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  # Replace with your MySQL username
PASSWORD = "1234qwert"  # Replace with your MySQL password
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
df = pd.read_csv("customer_journey.csv")

# Insert the CSV data into MySQL
df.to_sql("customer_journey", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!

In [40]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  # Replace with your MySQL username
PASSWORD = "1234qwert"  # Replace with your MySQL password
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
df = pd.read_csv("customer_reviews.csv")

# Insert the CSV data into MySQL
df.to_sql("customer_reviews", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!

In [41]:
data = pd.read_csv("customer_journey.csv")

In [43]:
data.isnull().sum()

JourneyID      0
CustomerID     0
ProductID      0
VisitDate      0
Stage          0
Action         0
Duration      14
dtype: int64

In [44]:
data.dropna()

,JourneyID,CustomerID,ProductID,VisitDate,Stage,Action,Duration
2,3,34,8,2024-06-14,ProductPage,View,235.0
4,5,91,10,2023-02-11,Homepage,Click,156.0
5,6,54,11,2025-12-19,Homepage,View,264.0
6,7,80,4,2023-08-25,Homepage,View,298.0
7,8,99,10,2025-07-03,ProductPage,View,287.0
...,...,...,...,...,...,...,...
95,96,22,9,2024-07-28,ProductPage,View,212.0
96,97,92,19,2025-05-26,homepage,View,203.0
97,98,95,8,2025-05-25,Homepage,Click,68.0
98,99,58,16,2024-07-06,Checkout,Purchase,87.0
99,100,92,10,2024-04-06,ProductPage,View,237.0

In [2]:
import pandas as pd

# Load customer reviews data
df = pd.read_csv("customer_reviews.csv")  # Update path if necessary

# Define simple positive and negative words
positive_words = ["good", "great", "excellent", "amazing", "love", "best", "happy", "positive", "satisfied"]
negative_words = ["bad", "poor", "worst", "terrible", "awful", "hate", "negative", "unsatisfied"]

# Function to assign sentiment based on keyword matching
def simple_sentiment(text):
    text = str(text).lower()  # Convert to lowercase
    if any(word in text for word in positive_words):
        return "Positive"
    elif any(word in text for word in negative_words):
        return "Negative"
    else:
        return "Neutral"

# Apply the sentiment function
df['Sentiment_Label'] = df['ReviewText'].apply(simple_sentiment)

# Print sentiment distribution
print(df['Sentiment_Label'].value_counts())

# Display some reviews with sentiment labels
print(df[['ReviewText', 'Sentiment_Label']].head())

Sentiment_Label
Neutral     69
Positive    30
Negative     1
Name: count, dtype: int64
                                 ReviewText Sentiment_Label
0   Average  experience,  nothing  special.         Neutral
1            The  quality  is    top-notch.         Neutral
2   Five  stars  for  the  quick  delivery.         Neutral
3  Good  quality,  but  could  be  cheaper.        Positive
4   Average  experience,  nothing  special.         Neutral

In [3]:
import pandas as pd

# Load customer reviews data
df = pd.read_csv("customer_reviews.csv")  # Update path if necessary

# Define keyword-based sentiment classification
positive_words = ["good", "great", "excellent", "amazing", "love", "best", "happy", "positive", "satisfied"]
negative_words = ["bad", "poor", "worst", "terrible", "awful", "hate", "negative", "unsatisfied"]

def simple_sentiment(text):
    text = str(text).lower()
    if any(word in text for word in positive_words):
        return "Positive"
    elif any(word in text for word in negative_words):
        return "Negative"
    else:
        return "Neutral"

# Apply the function
df['Sentiment_Label'] = df['ReviewText'].apply(simple_sentiment)

# Save results to a new CSV file
df.to_csv("customer_reviews_with_sentiment.csv", index=False)

print("Sentiment analysis completed! Results saved to 'customer_reviews_with_sentiment.csv'.")

Sentiment analysis completed! Results saved to 'customer_reviews_with_sentiment.csv'.

In [5]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
USER = "root"  # Replace with your MySQL username
PASSWORD = "1234qwert"  # Replace with your MySQL password
HOST = "127.0.0.1"
DATABASE = "saubhagya12"

# Create SQLAlchemy engine using MySQL Connector
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# Read the CSV file
df = pd.read_csv("sentiment_analysis .csv")

# Insert the CSV data into MySQL
df.to_sql("sentiment_analysis", con=engine, if_exists="append", index=False, method="multi")

print("CSV data successfully inserted into MySQL!")

CSV data successfully inserted into MySQL!